@charset "UTF-8";

body{
  margin:0px!important;
}

header{
  width:100%;
  background:#000;
  padding:3px;
}
header ul{
  display:flex;
}
header ul li {
  text-decoration:none;
}

/* トップ */
.fastview img{
  width:100%;
}
