@charset "UTF-8";

html,
body {
  margin: 0;
  padding: 0;
  color: #14151c;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0px !important;
  overflow-x: hidden;
}
::selection {
  background-color: rgba(133, 76, 117, 0.9);
  color: #fff;
}
img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  max-width: 100%;
}
.contents {
  width: 80%;
  margin: auto;
}

/* ----------フォント---------- */
html {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 17px;
}
p,
a{
  font-size: 17px;
}
/* ----------背景---------- */

.bg {
  position: fixed;
  inset: 0;
  z-index: -3;
  background-image: url("../img/bg_stitch.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.25;
}

/* ----------各セクション設定・背景---------- */
.section {
  position: relative;
  padding: 80px 0 100px;
}
/* ----------フレックス---------- */

.flex-box {
  display: flex;
  width: 100%;
  align-items: center;
}
.flex-box div {
  width: 50%;
}
/* ----------フッター---------- */
footer {
  background: #523f4c;
  color: #fff;
  padding-bottom: 20px;
}
.copyright {
  margin-bottom: 0;
  text-align: center;
}

footer .flex-box {
  padding: 15px;
  align-items: start;
  border-bottom: #fff 1.5px dashed;
}
.footerFlex {
  width: 100% !important;
  align-items: center !important;
}
.footerFlex div:first-child {
  width: 30%;
}
.footerFlex p {
  padding-left: 10px;
  font-size: 1.5em;
}

footer .footerAbout {
  padding-top: 10px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
footer .flex-box ul {
  list-style: none;
}
footer .footermenu li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  margin: 10px;
  font-size: 1.5em;
}
footer .footermenu li a:hover {
  transition: all 0.3s;
  opacity: 0.5;
}

/* ----------ローディング---------- */
.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s linear;
  z-index: 99;
}
.loading.loaded {
  opacity: 0;
  visibility: hidden;
}
.loadingInr img {
  width: 300px;
  margin-bottom: 20px;
  display: block;
}
.spinner {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #854c75;
  border-left-color: #fff;
  animation: spinner-rotation 1s linear infinite;
}
@keyframes spinner-rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ----------レスポンシブ---------- */
@media screen and (max-width: 834px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }

  @media screen and (max-width: 768px) {
  .flex-box {
    display: block;
    width: 100%;
  }
  .flex-box div {
    width: 100%;
  }
  .footerFlex {
    display: flex;
  }

  footer .footermenu {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }
}
