@charset "UTF-8";

html{
  font-family: "BIZ UDMincho", serif;
  font-weight: 400;
  font-style: normal;
}
body{
  margin:0px!important;
}

.contents{
  width:90%;
  margin:auto;
}

header{
  width:100%;
  background:#000;
  padding:3px;
}
header ul{
  display:flex;
  justify-content: flex-end;
  margin:10px;
}
header ul li {
  text-decoration:none;
  text-align:right;
}
header ul li a{
  padding:10px;
  color:#fff;
}

/* ----------トップ---------- */
.fastview img{
  width:100%;
}
