<!DOCTYPE html>
<html lang="ja">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="宮城県登米市にある縫製会社です。関東にある本社を含めて、グループ一丸となって縫製を行っています。">

<meta property="og:url" content="https://asahi-jinz.github.io/asahi/">
<meta property="og:title" content="アサヒ株式会社|宮城県登米市の縫製会社">
<meta property="og:type" content="website">
<meta property="og:description" content="宮城県登米市にある縫製会社です。主にジャケットの縫製を行っています。">
<meta property="og:image" content="画像のURL">
<meta property="og:site_name" content="アサヒ株式会社">
<meta property="og:locale" content="ja_JP">

<link rel="icon" href="画像URL" sizes="16x16" type="image/png"> 
<link rel="icon" href="画像URL" sizes="32x32" type="image/png">  
<link rel="icon" href="画像URL" sizes="48x48" type="image/png"> 
<link rel="icon" href="画像URL" sizes="62x62" type="image/png">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap" rel="stylesheet">

<title>アサヒ株式会社|宮城県登米市の縫製会社</title>

<link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
<script src="{{ '/js/jquery-4.0.0.min.js' | relative_url }}"></script>
<script src="{{ '/js/script.js' | relative_url }}"></script>

</head>

<body>

<header>
{% include header.html %}
</header>

{% if page.url == "/" or page.url == "/index.html" %}
  <div class="fastview">
    <img src="{{ '/img/slider-demo.png' | relative_url }}" alt="demo">
  </div>
{% endif %}

  <div class="contents">
    {{ content }}
  </div>

<footer>
{% include footer.html %}
</footer>

</body>
</html>
